html {
  height: 100%;
}
body {
  min-height: 100%;
  background-color: #fff8e3;
}
h1 {
  text-align: center;
  color: #256075;
}
h2 {
  text-align: center;
  color: #256075;
}
.page_input_floatleft {
  float: left;
  width: 215px;
}
.page_input_floatright {
  float: right;
  width: 215px;
}
.conten_registro h1 {
  text-align: center;
  color: #256075;
  margin: 24px 229px -61px 22px;
  float: left;
}
.new_page {
  background: white;
  width: 123px;
  height: 38px;
  border: #94B5C6 1px solid;
  outline: none !important;
  padding: 0 70px 0 20px;
  color: #5A646A;
  border-radius: 5px;
  float: right;
  /*border-image: initial;*/

}
.login {
  margin-left: 148px;
  background: white;
  width: 123px;
  height: 38px;
  border: #94B5C6 1px solid;
  padding: 0 70px 0 20px;
  color: #5A646A;
  border-radius: 5px;
}
label {
  display: block;
  color: #779AAD;
  text-transform: uppercase;
  margin: 0 0 7px;
  text-align: center;
  font-size: 11px;
}
input#btn {
  height: 39px;
  width: 500px;
}
.conten_registro {
  margin: auto;
  width: 500px;
}
#container {
  margin: auto;
  margin-top: 150px;
  width: 500px;
}
/*edit*/
#contenido {
  margin: auto;
  width: 800px;
}
.header {
  margin: auto;
  margin-top: 70px;
  width: 700px;
  height: 110px;
  text-transform: uppercase;
  text-align: center;
}
.conten_web {
  margin: auto;
  margin-top: 10px;
  width: 700px;
  height: 400px;
}
#main_text {
  margin: 15px;
}
#contenChange {
  margin: 15px;
}
#titulo {
  margin: 15px;
}
#titleChange {
  margin: 15px;
}
#url {
  margin-left: 450px;
}
/*show*/
#head {
  margin: 15px;
}
#mainText {
  margin: 15px;
}
#click .msn:hover {
  color: #BF00FF;
  text-decoration: underline;
  cursor: pointer;
}
