div#container
  h1= title
  h2 Publish a beautiful page in seconds
  .conten_registro
    .page_input_floatleft
      label='nombre'
      input.new_page()
    h1 &
    .page_imput_floatright
      label='Password'
      input.new_page(name='password')
    input.btn(type="button", value="Publish your page")

