!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src='javascripts/libs/jQuery.js')
    script(src='javascripts/libs/underscore.js')
    script(src='javascripts/libs/backbone.js')
    script(src='javascripts/libs/bootstrap.js')     
  body!= body
