!!!
html
  head
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/libs/jQuery.js')
    script(src='/javascripts/libs/underscore.js')
    script(src='/javascripts/libs/backbone.js')
    script(src='/javascripts/libs/bootstrap.js')     

    script(src='/javascripts/main.js')    
    script(src='/javascripts/router.js')    
    script(src='/javascripts/app/views/indexView.js')
    script(src='/javascripts/app/views/editView.js')
    script(src='/javascripts/app/views/showView.js')
    script(src='/javascripts/app/views/loginView.js')
  body!= body
