div#container
  h1#messageHi
  div#click
    h2 Ingresa tu password para poder editar
  .conten_registro
    label='Password'
    input#password.login(type="password", name='password')
  input#btn(type="button", value="Entrar al modo edicion")

