div(class="navbar navbar-fixed-top")
  div(class="navbar-inner")
    div(class="container")
      a(class="brand")= name 
      ul(class="nav")
        li.divider-vertical
        li
          a#numWord
        li 
          a#numChar
