div(class="navbar navbar-fixed-top")
  div(class="navbar-inner")
    div(class="container")
      a(class="brand")= pass
      ul(class="nav")
        li.divider-vertical
        li
          a words
        li 
          a characters
        li 
          a#ref 
