div#modalError(class="modal")
  div(class="modal-header")
    input.close.btn.btn-danger(type="button", data-dismiss="modal", value="×")
    h3 ERROR!
    div(class="modal-body")
      p You should be fill the inputs.
    //div(class="modal-footer")

