div#modalLoggin(class="modal")
  div(class="modal-header")
    input.close.btn.btn-danger(type="button", data-dismiss="modal", value="×")
    h3 Accessing to your file?!
    div(class="modal-body")
      p.descrip  Type your password to access your file.
      p Password:
      input(id="modalpass")
    div(class="modal-footer")
      p.access You trie to acces:
