div(class="navbar navbar-fixed-top")
  div(class="navbar-inner")
    div(class="container")
      a(class="brand")= id
      ul(class="nav")
        li#words 
          a Words:
        li#chars 
          a Characters:
        li#divi(class="divider-vertical")
