!= partial('partials/navbarshow')
div#title.static
  h1 Put your title here
div#content.static
  p#bodytext Click to write your file...
div#buttonscont
  input#show(type='button', class='btn btn-primary', value="Work Concluded!")
  input#back(type='button', class= 'btn btn-warning', value="Back to Loggin")
footer Autosave every you edit or save it whit Ctrl+S.
