div(class="navbar navbar-fixed-top")
  div(class="navbar-inner")
    div(class="container")
      a(class="brand")= title
      ul(class="nav")
        li#words Words:
        li#chars Characters:
        li#divi(class="divider-vertical")
        li#path(class="active") PATH


footer Autosave every few seconds or save it whit Ctrl+S.

