h1= title
p Welcome to #{title}, publish a beatiful page in seconds.
p Page Name:  
  input(id="filename")
p Paswoord:  
  input(id="pass", type="password")
input#publish(type="button", class="btn btn-primary btn-large", value='Publish your page!')
